.curtain-bg{
  background-image: url("../img/home-bg.jpg");
  background-size: 140% 100%;
  background-repeat: no-repeat;
  background-position: 40% 0;
}


.border-1{
	padding: 30px;
    border: 2px solid white;
    border-radius: 30px;
}

/*margin*/
.margin-left-40{
  margin-left: 40px;
}

.margin-left-55{
  margin-left: 55px;
}

.margin-left-50p{
  margin-left: 50%;
}

.margin-left-190{
    margin-left: 190px; 
}

.margin-left-320{
  margin-left: 320px;
}
.margin-top-25{
  margin-top: 25px;
}

.margin-top-40{
  margin-top: 40px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-right-25{
    margin-right: 25px;
}

.margin-right-45{
    margin-right: 45px;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.padding-top-40{
	padding-top: 40px;
}

.padding-bottom-40{
	padding-bottom: 40px;
}

.height-250{
  height: 250px;
}

/*font*/
.fs-35{
  font-size: 35px;
}

.fs-25{
  font-size: 25px;
}

.wordwrap{
  word-wrap: break-word;
}

/* color */
.white{
  color: white;
}

.black{
   color: black;
}


/*carousel*/

.carousel-control {
  padding-top:10%;
  width:5%;
}

.carousel-control.left, .carousel-control.right{
  background-image: none !important;
}

#candid-carousel .item>img{
  height: 350px; 
  margin: auto;
}

/*bootstrap overrides*/
.col-centered {
    display:inline-block;
    float:none !important;
    text-align:left;
    margin-right:-4px;
}

.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

