/*margin*/
.margin-left-40{
  margin-left: 40px;
}

.margin-left-50p{
  margin-left: 50%;
}

.margin-left-190{
    margin-left: 190px; 
}

.margin-top-25{
  margin-top: 25px;
}

.margin-top-40{
  margin-top: 40px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-right-25{
    margin-right: 25px;
}

.margin-right-45{
    margin-right: 45px;
}

.margin-bottom-0{
	margin-bottom: 0px;
}

.height-250{
  height: 250px;
}


/*carousel*/

.carousel-control {
  padding-top:10%;
  width:5%;
}

.carousel-control.left, .carousel-control.right{
  background-image: none !important;
}

#candid-carousel .item>img{
  height: 350px; 
  margin: auto;
}

/*bootstrap overrides*/
.col-centered {
    display:inline-block;
    float:none !important;
    text-align:left;
    margin-right:-4px;
}

.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}